<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dataset_scope.name %>
</p>

<%= link_to 'Edit', edit_dataset_scope_path(@dataset_scope) %> |
<%= link_to 'Back', dataset_scopes_path %>
