<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dataset_format.name %>
</p>

<%= link_to 'Edit', edit_dataset_format_path(@dataset_format) %> |
<%= link_to 'Back', dataset_formats_path %>
